body {
    margin-left: 16px;
    margin-right: 16px;
    background-color: #e2e2e2e2;
}

nav > ul > li {
    display: inline-block;
    color: blue;
}

li {
    margin: 4px;
}

b {
    display: block;
}

a {
    color : blue;
}

a:hover {
    color : darkblue;
}

table {
    margin: 16px;
    background-color: #d2d2d2;
}

td {
    text-align: center;
}

footer {
    text-align: center;
}

#scala-consists-of-link {
    color: black;
}

#scala-consists-of {
    font-weight: bold;
}

#scala-consists-of > tbody > tr > td {
    padding: 8px;
    background-color: tomato;
}

#scala-consists-of > tbody > tr > td:hover {
    background-color: brown;
    color: white;
}